@*@model IEnumerable<GowWebSite.Models.Log>*@

@{
    ViewBag.Title = "Log Index";
}

<h2>Logs</h2>
<table class="table">
    <tr>
        <th> Machine Name</th>
        <th> Script Version</th>
        <th> Last BS Restart</th>
        <th> Last Machine Restart</th>
        <th> Success Past 30 min</th>
        <th> Success Past Hour</th>
        <th> Success Past Day</th>
    </tr>
    @foreach (var machine in ViewBag.Machines as IEnumerable<GowWebSite.Models.MachineLoginTracker>)
    {
        bool error = false;
        string errorClass = "";
        if (machine.LoginDate.Value.AddHours(1) < DateTime.Now)
        {
            error = true;
            errorClass = "danger";
        }
        <tr>
            <td class=@errorClass>
                @if (error)
                {<div class="glyphicon glyphicon-exclamation-sign"></div> }
                @machine.MachineID
            </td>
            <td>@machine.Message.Substring(17)</td>
            <td>@machine.RestartBlueStacksDate</td>
            <td>@machine.RestartMachineDate</td>
            <td>@machine.Success30m</td>
            <td>@machine.Success1Hr</td>
            <td>@machine.Success1Day</td>
        </tr>
    }
</table>



@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MachineID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MachineID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.LogID })
        </td>
    </tr>
}

</table>*@
