@using GowWebSite.Models;
@model GowWebSite.Models.CityInfo

@{
    ViewBag.Title = "Details";
    GowWebSite.Models.Log log = ((List<Log>)ViewBag.Logs).FirstOrDefault();
}

<h2>Details - @Model.City.CityName</h2>

<div>
    <h4>CityInfo</h4>
    <h6>Minutes since last run = @Model.City.Login.RunSince</h6>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rally)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rally)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Tent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tent)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Shield)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shield)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RallyX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RallyX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RallyY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RallyY)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TentX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TentX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TentY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TentY)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.LastRally)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastRally)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastBank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastBank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpgrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpgrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAthenaGift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAthenaGift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastShield)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastShield)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionPerHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionPerHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpgradeBuilding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpgradeBuilding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrongHoldLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrongHoldLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreasuryLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreasuryLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedRSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedRSS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Upgrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Upgrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeroUpgradeNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeroUpgradeNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectAthenaGift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectAthenaGift)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.RedeemCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedeemCode)
        </dd>*@



        <dt>
            @Html.DisplayNameFor(model => model.RSSBankNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RSSBankNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RssMarches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RssMarches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilverBankNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SilverBankNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilverMarches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SilverMarches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasGoldMine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasGoldMine)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@{string imagePath = "/Images/CityImage_" + Model.City.CityID + ".jpg";}
<p>
    <img src='@imagePath' />
</p>
<h6>@File.GetLastWriteTime(imagePath)</h6>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => log.MachineID)
        </th>
        <th>
            @Html.DisplayNameFor(model => log.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => log.LogDate)
        </th>
        <th></th>
    </tr>

    @foreach (GowWebSite.Models.Log item in ViewBag.Logs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MachineID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.LogID })
            </td>
        </tr>
    }

</table>