<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Cities", "Index", "City", null, new { @class = "navbar-brand" })</li>
                        if (User.IsInRole("Admin") || User.IsInRole("MachineOwner"))
                        {
                            <li>@Html.ActionLink("Logs", "Index", "Log", null, new { @class = "navbar-brand" })</li>   
                        }                 
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Logins", "Index", "Login", null, new { @class = "navbar-brand" })</li>
                        }
                        <li>@Html.ActionLink("FAQ", "FAQ", "Home", null, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Cart", "Index", "Payment", null, new { @class = "navbar-brand" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="nav navbar-form text-center">
            @using (Html.BeginForm("SelectUser", "City", FormMethod.Post, new {@class="form-horizontal"}))
            {

                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="control-label col-xs-2">@Html.Raw("User:")</div>
                    <div class="col-xs-8">
                        @Html.DropDownList("UserIDs", null, "-- Select One --", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class=" col-xs-2">
                        <input type="submit" class="btn btn-primary" value="Filter" />
                    </div>
                </div>
            }
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-3">&copy; @DateTime.Now.Year - Gow Minion</div>
                <div class="col-md-offset-6 col-md-3"><a href="#" data-toggle="modal" data-target="#TermsOfServiceModal">Terms of Service</a></div>
            </div> 
        </footer>
    </div>

    <div id="TermsOfServiceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">GoW Minion Terms of Service</h4>
                </div>
                <div class="modal-body">
                    <!-- Introduction -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseIntroduction">Introduction</a>
                            </h4>
                        </div>
                        <div id="collapseIntroduction" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row row-spacing">
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">1.1 This User Agreement (“Agreement”), the GoW Minion Privacy Policy, and all policies posted on our sites set out the terms and conditions on which GoW Minion offers you access to and use of our sites, services, applications and tools (collectively “Services”). This Agreement is entered into between you as the user of our Services (“User”) and GoW Minion Ltd. (“GoW Minion” or the “Site”). All policies and the GoW Minion Privacy Policy are incorporated into this User Agreement. You agree to comply with all of the above when accessing and using our Services.</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">1.2 Please be advised that this User Agreement contains provisions that govern how claims you and GoW Minion have against each other are resolved (see Disclaimer of Warranties; Limitation of Liability and Legal Disputes provisions below). It also contains an Agreement to Arbitrate, which will require you to submit claims you have against GoW Minion to binding and final arbitration.</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">1.3 Acceptance of the Agreement. By accessing or using the Site, you hereby agree to accept the terms and conditions set forth in this Agreement as a User. You shall be bound by the terms and conditions of this Agreement with respect to your access or use of this Site and any further upgrade, modification, addition or change to this Site. If you do not accept all of the terms and conditions of this Agreement, please do not use this Site. You may not use the Site and may not accept the terms of this Agreement if (a) you are not of legal age to form a binding contract, or (b) you are a person barred from using the Site under the laws of the United States or other countries including the country in which you are a resident or from which you use the Site. Before you continue, you should print off or save a local copy of this Agreement for your records.</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">1.4 Amendments. GoW Minion may amend this Agreement and/or Site policies at any time, with or without notice to you, by posting the amended and restated Agreement or policy on the Site. The amended and restated Agreement and/or policy shall be effective immediately upon posting. Posting by GoW Minion of the amended and restated Agreement or policy and your continued use of the Site shall be deemed to be an acceptance of the amended terms. This Agreement and Site policies may not otherwise be modified, except in writing by an authorized officer of GoW Minion.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Definitions -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseDefinitions">Definitions</a>
                            </h4>
                        </div>
                        <div id="collapseDefinitions" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row row-spacing">
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">2.1 GoW Minion Content. Information, text, images, video clips, directories, files, databases or offers available on or through the Site are hereinafter referred to as “GoW Minion Content.”</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">2.2 Registered User. Each User who has filled out a registration form on the Site by giving User information (such as name, address, telephone number, fax number, email address, etc.) is a registered user (“Registered User”) of GoW Minion. GoW Minion will establish an account (“Account”) for each Registered User on the Site and each Registered User will be assigned a user alias (“User Name”) and password (“Password”) for log­in access to its Account on the Site.</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">2.3 Third-Party Content. Some of the GoW Minion Content displayed on the Site is provided or posted by third parties, hereinafter referred to as “Third Party Content.”</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">2.4 Third-Party Rights. Third party copyrights, trademarks, trade secrets, patents, and other personal or proprietary rights affecting or relating to material or information displayed on the Site, including but not limited to rights of personality and rights of privacy, or affecting or relating to products that are offered or displayed on the Site, are hereafter referred to as “Third Party Rights.”</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">
                                        2.5 Transaction Risks. The risks assumed by Users when using the Site or conducting transactions are deemed “Transaction Risks.” Transaction Risks include risks of liability or harm of any kind in connection with using the Site. Such risks shall include, but are not limited to:
                                        Misrepresentation of products and services, fraudulent schemes, unsatisfactory quality, failure to meet specifications, defective or dangerous products, unlawful products, delay or default in delivery or payment, cost miscalculations, breach of warranty, and breach of contract.
                                        Risks that the manufacture, importation, distribution, offer, display, purchase, sale and/or use of products or services offered or displayed on the Site may violate or may be asserted to violate Third Party Rights, and the risk that Users may incur costs of defense or other costs in connection with third parties’ assertion of Third Party Rights, or in connection with any claims by any party that they are entitled to defense or indemnification in relation to assertions of rights, demands, or claims by Third Party Rights claimants.
                                        Risks that consumers, other purchasers, end-users of products, or others claiming to have suffered injuries or harms relating to a product originally obtained by Users of the Site as a result of purchase and sale transactions in connection with using the Site may suffer harms and/or assert claims arising from their use of such products.
                                    </div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">2.6 User. For purposes of this Agreement, a “User” is any person who accesses the Site for whatever purpose, regardless of whether said User has registered with GoW Minion as a registered User. A User includes any person using this Site and any legal entity which may be represented by such person under actual or apparent authority.</div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    
                    
                    <!-- Use of GoW Minion -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseUseofGoWMinion">Use of GoW Minion</a>
                            </h4>
                        </div>
                        <div id="collapseUseofGoWMinion" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row row-spacing">
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">3.1 General. Users may use this Site solely for their own personal or internal purposes. Each User agrees that it shall not copy, reproduce or download any GoW Minion Content for the purpose of re–selling or re–distributing GoW Minion’ Content, mass mailing (via emails, wireless text messages, physical mail, or otherwise), operating a business that competes with GoW Minion, or otherwise commercially exploiting GoW Minion Content.. In addition, use of GoW Minion Content for any purpose not expressly permitted in this Agreement is prohibited.</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">3.2 No User shall undertake any scheme to undermine the integrity of the computer systems or networks used by GoW Minion or any other User, and no User shall attempt to gain unauthorized access to such computer systems or networks.</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">3.3 Privacy Policy. We urge that you read GoW Minion’ Privacy Policy, which governs the protection and use of each User’s information in GoW Minion’ possession. Each User hereby accepts the Privacy Policy and any updates and amendments thereto. Each User acknowledges that GoW Minion may change the Privacy Policy from time to time, with or without notice to you, and shall make available the updated version of the Privacy Policy on the Site at all times. Your continued use of the Site shall be deemed to be your acceptance of the Privacy Policy which is then displayed on the Site at the time of such use.</div>
                                    <div class="col-md-11 col-sm-11 col-xs-11 row-spacing">3.4 Third Party Rights. As a condition of your access to and use of the Site, you agree that you will not use our Services to infringe the Third Party Rights of others in any way. GoW Minion will in appropriate circumstances terminate the accounts of Users who are repeat infringers of the Third Party Rights of others. In addition, GoW Minion reserves the right to terminate the account of any User if GoW Minion believes that the User’s conduct is harmful to the interests of GoW Minion, its employees, directors, affiliates, or other Users, or for any other reason in GoW Minion’ sole and absolute discretion, with or without cause.</div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
