@model GowWebSite.Models.City


<div id="Tester12" class="modal-content imagesModal">
    @using (Ajax.BeginForm(new AjaxOptions {}))
    {
        @Html.AntiForgeryToken()

        <div class="modal-header text-center">
            <h4>City - @Model.CityName</h4>
        </div>
        <div class="modal-body col-md-12 col-sm-12">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CityID)
                @Html.HiddenFor(model => model.LoginID)

                <div class="panel panel-default">
                    <div class="panel-heading"><a data-toggle="collapse" href="#LoginGroup">Login</a></div>
                    <div id="LoginGroup" class="panel-collapse collapse in">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Login.UserName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.DisplayFor(model => model.Login.UserName)
                                @Html.ValidationMessageFor(model => model.Login.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Login.Password, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.PasswordFor(model => model.Login.Password, new { value = Model.Login.Password })
                                @Html.ValidationMessageFor(model => model.Login.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Login.PIN, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.Login.PIN)
                                @Html.ValidationMessageFor(model => model.Login.PIN, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><a data-toggle="collapse" href="#CityGroup">City</a></div>
                    <div id="CityGroup" class="panel-collapse collapse in">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Kingdom, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.Kingdom, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Kingdom, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LocationX, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.LocationX, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LocationX, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LocationY, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.LocationY, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LocationY, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ResourceTypeID, "ResourceTypeID", htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.DropDownList("ResourceTypeID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ResourceTypeID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AllianceID, "AllianceID", htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.DropDownList("AllianceID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AllianceID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.StrongHoldLevel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityInfo.StrongHoldLevel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityInfo.StrongHoldLevel, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.HasGoldMine, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.CityInfo.HasGoldMine)
                                    @Html.ValidationMessageFor(model => model.CityInfo.HasGoldMine, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><a data-toggle="collapse" href="#BankGroup">Bank</a></div>
                    <div class="panel-collapse collapse in" id="BankGroup">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.Bank, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.CityInfo.Bank)
                                    @Html.ValidationMessageFor(model => model.CityInfo.Bank, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.RSSBankNum, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityInfo.RSSBankNum, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityInfo.RedeemCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.RssMarches, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityInfo.RssMarches, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityInfo.RssMarches, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.SilverBankNum, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityInfo.SilverBankNum, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityInfo.SilverBankNum, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.SilverMarches, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityInfo.SilverMarches, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityInfo.SilverMarches, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><a data-toggle="collapse" href="#RallyGroup">Rally</a></div>
                    <div class="panel-collapse collapse in" id="RallyGroup">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.Rally, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.CityInfo.Rally)
                                    @Html.ValidationMessageFor(model => model.CityInfo.Rally, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.RallyX, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityInfo.RallyX, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityInfo.RallyX, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.RallyY, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityInfo.RallyY, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityInfo.RallyY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><a data-toggle="collapse" href="#ShieldGroup">Shield</a></div>
                    <div class="panel-collapse collapse in" id="ShieldGroup">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.Shield, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.CityInfo.Shield)
                                    @Html.ValidationMessageFor(model => model.CityInfo.Shield, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><a data-toggle="collapse" href="#UpgradeGroup">Upgrade</a></div>
                    <div class="panel-collapse collapse in" id="UpgradeGroup">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.Upgrade, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.CityInfo.Upgrade)
                                    @Html.ValidationMessageFor(model => model.CityInfo.Upgrade, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.NeedRSS, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.CityInfo.NeedRSS)
                                    @Html.ValidationMessageFor(model => model.CityInfo.NeedRSS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><a data-toggle="collapse" href="#TreasuryGroup">Treasury</a></div>
                    <div class="panel-collapse collapse in" id="TreasuryGroup">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.TreasuryLevel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityInfo.Treasury)
                                @Html.ValidationMessageFor(model => model.CityInfo.Treasury, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.TreasuryLevel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.EditorFor(model => model.CityInfo.TreasuryLevel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CityInfo.TreasuryLevel, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityInfo.LastTreasury, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
                            <div class="col-md-10 col-sm-9">
                                @Html.DisplayFor(model => model.CityInfo.LastTreasury, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer col-md-12 col-sm-12">

            <input id="CitySave" type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Delete", "Delete", new { cityID = Model.CityID }, new { @class = "btn btn-primary modal-close-btn" })
            <button class="btn btn-primary modal-close-btn" data-dismiss="modal" id="approve-btn">Cancel</button>
        </div>
        }
    </div>


