@model List<GowWebSite.Models.City>
@{
    ViewBag.Title = "Confirm";
}

@using (Html.BeginForm("ConfirmUpload", "City", FormMethod.Post, new { model = Model, enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>PIN</th>
            <th>Login Timing</th>
            <th>CityName</th>
            <th>Resource Type</th>
            <th>Tag</th>
            <th>SH Level</th>
            <th>Bank</th>
            <th>RSS Bank Num</th>
            <th>RSS Marches</th>
            <th>Silver Bank Num</th>
            <th>Silver Marches</th>
            <th>Rally</th>
            <th>Rally Target X</th>
            <th>Rally Target Y</th>
            <th>Shield</th>
            <th>Upgrade</th>
            <th>Gold Mine</th>
            <th>Treasury</th>
        </tr>
        @foreach (GowWebSite.Models.City city in Model)
        {
        <!-- Display all cities here -->
            <tr>
                <td>@Html.DisplayFor(model => city.Login.UserName)</td>
                <td>@Html.DisplayFor(model => city.Login.Password)</td>
                <td>@Html.DisplayFor(model => city.Login.PIN)</td>
                <td>@Html.DisplayFor(model => city.Login.LoginDelayMin)</td>
                <td>@Html.DisplayFor(model => city.CityName)</td>
                <td>@Html.DisplayFor(model => city.ResourceTypeID)</td>
                <td>@Html.DisplayFor(model => city.Alliance)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.StrongHoldLevel)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.Bank)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.RSSBankNum)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.RssMarches)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.SilverBankNum)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.SilverMarches)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.Rally)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.RallyX)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.RallyY)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.Shield)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.Upgrade)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.Treasury)</td>
                <td>@Html.DisplayFor(model => city.CityInfo.HasGoldMine)</td>
            </tr>
        }
    </table>



        <div class="form-actions no-color">
            <input type="submit" value="Confirm" class="btn btn-primary" />
            @Html.ActionLink("Back to City List", "Index", null, new { @class = "btn btn-primary" })
        </div>
}
