@model List<GowWebSite.Models.City>


    <table class="table">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>PIN</th>
            <th>Login Timing</th>
            <th>CityName</th>
            <th>Resource Type</th>
            <th>Tag</th>
            <th>SH Level</th>
            <th>Bank</th>
            <th>RSS Bank Num</th>
            <th>RSS Marches</th>
            <th>Silver Bank Num</th>
            <th>Silver Marches</th>
            <th>Rally</th>
            <th>Rally Target X</th>
            <th>Rally Target Y</th>
            <th>Shield</th>
            <th>Upgrade</th>
            <th>Gold Mine</th>
            <th>Treasury</th>
        </tr>
        @foreach (GowWebSite.Models.City city in Model)
        {
        <!-- Display all cities here -->
            <tr>
                <td>@city.Login.UserName</td>
                <td>@city.Login.Password</td>
                <td>@city.Login.PIN</td>
                <td>@city.Login.LoginDelayMin</td>
                <td>@city.CityName</td>
                <td>@city.ResourceTypeID</td>
                <td>@city.Alliance</td>
                <td>@city.CityInfo.StrongHoldLevel</td>
                <td>@city.CityInfo.Bank</td>
                <td>@city.CityInfo.RSSBankNum</td>
                <td>@city.CityInfo.RssMarches</td>
                <td>@city.CityInfo.SilverBankNum</td>
                <td>@city.CityInfo.SilverMarches</td>
                <td>@city.CityInfo.Rally</td>
                <td>@city.CityInfo.RallyX</td>
                <td>@city.CityInfo.RallyY</td>
                <td>@city.CityInfo.Shield</td>
                <td>@city.CityInfo.Upgrade</td>
                <td>@city.CityInfo.Treasury</td>
                <td>@city.CityInfo.HasGoldMine</td>
            </tr>
        }
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirm" class="btn btn-primary" />
            @Html.ActionLink("Back to City List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
