@model GowWebSite.Models.City

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this City?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alliance)
        </dt>

        <dd>
            @Html.LabelFor(model => model.Alliance)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ResourceType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceType.Type)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
