@model GowWebSite.Models.City

@{
    ViewBag.Title = "Edit";
}

<h2>City - @Model.CityName</h2>
@if (ViewBag.PremiumCity)
{
    <h4>This city is part of a Premuim City package</h4>
}

@if (ViewBag.BasicCity)
{
    <h4>This city is part of a Basic City package</h4>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_ViewCity")

    <div class="col-md-12 col-sm-12">
        <div class="text-info">Cost changes are reflected in your cart.  You can edit multiple cities and check out once.</div>
        <input id="CitySave" type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Delete", "Delete", new { cityID = Model.CityID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
    </div>
}

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ container: 'body' });
    });
</script>
