

@{
    ViewBag.Title = "Cores Information Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<head>
    <meta charset="utf-8" />
    <title>GoW Minion FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Helm.js"></script>
    <script type="text/javascript" src="~/Scripts/SummaryVariables.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
        <div id="nav">
            <table class="table-condensed">
                <tr>
                    <th width="60"></th>
                    <th width="60">H</th>
                    <th width="60">W</th>
                    <th width="60">B</th>
                    <th width="60">F</th>
                    <th width="60">A1</th>
                    <th width="60">A2</th>
                    <th width="60">A3</th>
                    <th width="60">Total</th>
                </tr>
                <tr>
                    <td>RA</td>
                    <td>
                        <label id="HelmSummaryRangedAttackSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryRangedAttackSB" />
                    </td>
                    <td>
                        <label id="BodySummaryRangedAttackSB" />
                    </td>
                    <td>
                        <label id="FootSummaryRangedAttackSB" />
                    </td>
                    <td>
                        <label id="A1SummaryRangedAttackSB" />
                    </td>
                    <td>
                        <label id="A2SummaryRangedAttackSB" />
                    </td>
                    <td>
                        <label id="A3SummaryRangedAttackSB" />
                    </td>
                    <td>
                        <label id="FullSummaryRangedAttackSB" />
                    </td>
                </tr>
                <tr>
                    <td>CA</td>
                    <td>
                        <label id="HelmSummaryCalvaryAttackSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryCalvaryAttackSB" />
                    </td>
                    <td>
                        <label id="BodySummaryCalvaryAttackSB" />
                    </td>
                    <td>
                        <label id="FootSummaryCalvaryAttackSB" />
                    </td>
                    <td>
                        <label id="A1SummaryCalvaryAttackSB" />
                    </td>
                    <td>
                        <label id="A2SummaryCalvaryAttackSB" />
                    </td>
                    <td>
                        <label id="A3SummaryCalvaryAttackSB" />
                    </td>
                    <td>
                        <label id="FullSummaryCalvaryAttackSB" />
                    </td>
                </tr>
                <tr>
                    <td>IA</td>
                    <td>
                        <label id="HelmSummaryInfantryAttackSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryInfantryAttackSB" />
                    </td>
                    <td>
                        <label id="BodySummaryInfantryAttackSB" />
                    </td>
                    <td>
                        <label id="FootSummaryInfantryAttackSB" />
                    </td>
                    <td>
                        <label id="A1SummaryInfantryAttackSB" />
                    </td>
                    <td>
                        <label id="A2SummaryInfantryAttackSB" />
                    </td>
                    <td>
                        <label id="A3SummaryInfantryAttackSB" />
                    </td>
                    <td>
                        <label id="FullSummaryInfantryAttackSB" />
                    </td>
                </tr>
                <tr>
                    <td>TA</td>
                    <td>
                        <label id="HelmSummaryTroopAttackSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryTroopAttackSB" />
                    </td>
                    <td>
                        <label id="BodySummaryTroopAttackSB" />
                    </td>
                    <td>
                        <label id="FootSummaryTroopAttackSB" />
                    </td>
                    <td>
                        <label id="A1SummaryTroopAttackSB" />
                    </td>
                    <td>
                        <label id="A2SummaryTroopAttackSB" />
                    </td>
                    <td>
                        <label id="A3SummaryTroopAttackSB" />
                    </td>
                    <td>
                        <label id="FullSummaryTroopAttackSB" />
                    </td>
                </tr>
                <tr>
                    <td>TD</td>
                    <td>
                        <label id="HelmSummaryTroopDefenseSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryTroopDefenseSB" />
                    </td>
                    <td>
                        <label id="BodySummaryTroopDefenseSB" />
                    </td>
                    <td>
                        <label id="FootSummaryTroopDefenseSB" />
                    </td>
                    <td>
                        <label id="A1SummaryTroopDefenseSB" />
                    </td>
                    <td>
                        <label id="A2SummaryTroopDefenseSB" />
                    </td>
                    <td>
                        <label id="A3SummaryTroopDefenseSB" />
                    </td>
                    <td>
                        <label id="FullSummaryTroopDefenseSB" />
                    </td>
                </tr>
                <tr>
                    <td>TH</td>
                    <td>
                        <label id="HelmSummaryTroopHealthSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryTroopHealthSB" />
                    </td>
                    <td>
                        <label id="BodySummaryTroopHealthSB" />
                    </td>
                    <td>
                        <label id="FootSummaryTroopHealthSB" />
                    </td>
                    <td>
                        <label id="A1SummaryTroopHealthSB" />
                    </td>
                    <td>
                        <label id="A2SummaryTroopHealthSB" />
                    </td>
                    <td>
                        <label id="A3SummaryTroopHealthSB" />
                    </td>
                    <td>
                        <label id="FullSummaryTroopHealthSB" />
                    </td>
                </tr>
                <tr>
                    <td>AD</td>
                    <td>
                        <label id="HelmSummaryAttackDebuffSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryAttackDebuffSB" />
                    </td>
                    <td>
                        <label id="BodySummaryAttackDebuffSB" />
                    </td>
                    <td>
                        <label id="FootSummaryAttackDebuffSB" />
                    </td>
                    <td>
                        <label id="A1SummaryAttackDebuffSB" />
                    </td>
                    <td>
                        <label id="A2SummaryAttackDebuffSB" />
                    </td>
                    <td>
                        <label id="A3SummaryAttackDebuffSB" />
                    </td>
                    <td>
                        <label id="FullSummaryAttackDebuffSB" />
                    </td>
                </tr>
                <tr>
                    <td>HD</td>
                    <td>
                        <label id="HelmSummaryHealthDebuffSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryHealthDebuffSB" />
                    </td>
                    <td>
                        <label id="BodySummaryHealthDebuffSB" />
                    </td>
                    <td>
                        <label id="FootSummaryHealthDebuffSB" />
                    </td>
                    <td>
                        <label id="A1SummaryHealthDebuffSB" />
                    </td>
                    <td>
                        <label id="A2SummaryHealthDebuffSB" />
                    </td>
                    <td>
                        <label id="A3SummaryHealthDebuffSB" />
                    </td>
                    <td>
                        <label id="FullSummaryHealthDebuffSB" />
                    </td>
                </tr>
                <tr>
                    <td>DD</td>
                    <td>
                        <label id="HelmSummaryDefenseDebuffSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryDefenseDebuffSB" />
                    </td>
                    <td>
                        <label id="BodySummaryDefenseDebuffSB" />
                    </td>
                    <td>
                        <label id="FootSummaryDefenseDebuffSB" />
                    </td>
                    <td>
                        <label id="A1SummaryDefenseDebuffSB" />
                    </td>
                    <td>
                        <label id="A2SummaryDefenseDebuffSB" />
                    </td>
                    <td>
                        <label id="A3SummaryDefenseDebuffSB" />
                    </td>
                    <td>
                        <label id="FullSummaryDefenseDebuffSB" />
                    </td>
                </tr>
                <tr>
                    <td>MS</td>
                    <td>
                        <label id="HelmSummaryMarchSpeedSB" />
                    </td>
                    <td>
                        <label id="WeaponSummaryMarchSpeedSB" />
                    </td>
                    <td>
                        <label id="BodySummaryMarchSpeedSB" />
                    </td>
                    <td>
                        <label id="FootSummaryMarchSpeedSB" />
                    </td>
                    <td>
                        <label id="A1SummaryMarchSpeedSB" />
                    </td>
                    <td>
                        <label id="A2SummaryMarchSpeedSB" />
                    </td>
                    <td>
                        <label id="A3SummaryMarchSpeedSB" />
                    </td>
                    <td>
                        <label id="FullSummaryMarchSpeedSB" />
                    </td>
                </tr>
            </table>
        </div>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-7"><h1>Core Creation Information</h1></div>
                <div class="col-md-3 col-sm-4 col-xs-5" style="vertical-align:bottom">Contact: <a href="mailto:support@gowminion.com">support@gowminion.com</a></div>
            </div>
        </div>
        <!-- Bootstrap FAQ - START -->
        <div class="container">

            <div class="panel-group" id="accordion">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="color:red" id="errorMessage" hidden="hidden">
                        You can only select a piece one time.
                    </div>
                </div>
                <!--Minion Section-->
                <div class="faqHeader">Core Builder</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseHelms">Helms</a>
                        </h4>
                    </div>
                    <div id="collapseHelms" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table-condensed">
                                <tr>
                                    <th width="9%">Core</th>
                                    <th width="9%">Piece1</th>
                                    <th width="9%">Piece2</th>
                                    <th width="9%">Piece3</th>
                                    <th width="9%">Piece4</th>
                                    <th width="9%">Piece5</th>
                                    <th width="9%">Piece6</th>
                                    <th width="9%">Summary</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DropDownList("HelmCores", (IEnumerable<SelectListItem>)ViewBag.HelmCoreList, "None", htmlAttributes: new { @class = "form-control"})
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece1", (IEnumerable<SelectListItem>)ViewBag.PiecesList, "None", htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece2", (IEnumerable<SelectListItem>)ViewBag.PiecesList, "None", htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece3", (IEnumerable<SelectListItem>)ViewBag.PiecesList, "None", htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece4", (IEnumerable<SelectListItem>)ViewBag.PiecesList, "None", htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece5", (IEnumerable<SelectListItem>)ViewBag.PiecesList, "None", htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece6", (IEnumerable<SelectListItem>)ViewBag.PiecesList, "None", htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <!-- This is where the level selection drop down will go default to level 6 for everything -->
                                    <td>
                                        @Html.DropDownList("HelmCoresLevel", new SelectList(ViewBag.Levels, "Key", "Value"), htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece1Level", new SelectList(ViewBag.Levels, "Key", "Value"), htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece2Level", new SelectList(ViewBag.Levels, "Key", "Value"), htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece3Level", new SelectList(ViewBag.Levels, "Key", "Value"), htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece4Level", new SelectList(ViewBag.Levels, "Key", "Value"), htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece5Level", new SelectList(ViewBag.Levels, "Key", "Value"), htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("HelmPiece6Level", new SelectList(ViewBag.Levels, "Key", "Value"), htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            
                                <tbody class="category">
                                    <tr><td colspan="8" style="font-weight:bold; text-decoration:underline; background-color:#f5f5f5">Overall</td><td>Boosts</td></tr>
                                </tbody>
                                <tbody class="subCategory">
                                    <tr id="HelmRowTroopAttack">
                                        <td ><label id="HelmCoreTroopAttack" /></td>
                                        <td ><label id="HelmPiece1TroopAttack" /></td>
                                        <td ><label id="HelmPiece2TroopAttack" /></td>
                                        <td ><label id="HelmPiece3TroopAttack" /></td>
                                        <td ><label id="HelmPiece4TroopAttack" /></td>
                                        <td ><label id="HelmPiece5TroopAttack" /></td>
                                        <td ><label id="HelmPiece6TroopAttack" /></td>
                                        <td ><label id="HelmSummaryTroopAttack" /></td>
                                        <td>Troop Att</td>
                                    </tr>
                                    <tr id="HelmRowTroopDefence"><td><label id="HelmCoreTroopDefence" /></td><td><label id="HelmPiece1TroopDefence" /></td><td><label id="HelmPiece2TroopDefence" /></td><td><label id="HelmPiece3TroopDefence" /></td><td><label id="HelmPiece4TroopDefence" /></td><td><label id="HelmPiece5TroopDefence" /></td><td><label id="HelmPiece6TroopDefence" /></td><td><label id="HelmSummaryTroopDefence" /></td><td>Troop Def</td></tr>
                                    <tr id="HelmRowTroopHealth"><td><label id="HelmCoreTroopHealth" /></td><td><label id="HelmPiece1TroopHealth" /></td><td><label id="HelmPiece2TroopHealth" /></td><td><label id="HelmPiece3TroopHealth" /></td><td><label id="HelmPiece4TroopHealth" /></td><td><label id="HelmPiece5TroopHealth" /></td><td><label id="HelmPiece6TroopHealth" /></td><td><label id="HelmSummaryTroopHealth" /></td><td>Troop Health</td></tr>
                                    <tr id="HelmRowStrategicTroopAttack"><td><label id="HelmCoreStrategicTroopAttack" /></td><td><label id="HelmPiece1StrategicTroopAttack" /></td><td><label id="HelmPiece2StrategicTroopAttack" /></td><td><label id="HelmPiece3StrategicTroopAttack" /></td><td><label id="HelmPiece4StrategicTroopAttack" /></td><td><label id="HelmPiece5StrategicTroopAttack" /></td><td><label id="HelmPiece6StrategicTroopAttack" /></td><td><label id="HelmSummaryStrategicTroopAttack" /></td><td>Strat Troop Att</td></tr>
                                    <tr id="HelmRowStrategicTroopDefence"><td><label id="HelmCoreStrategicTroopDefence" /></td><td><label id="HelmPiece1StrategicTroopDefence" /></td><td><label id="HelmPiece2StrategicTroopDefence" /></td><td><label id="HelmPiece3StrategicTroopDefence" /></td><td><label id="HelmPiece4StrategicTroopDefence" /></td><td><label id="HelmPiece5StrategicTroopDefence" /></td><td><label id="HelmPiece6StrategicTroopDefence" /></td><td><label id="HelmSummaryStrategicTroopDefence" /></td><td>Strat Troop Def</td></tr>
                                    <tr id="HelmRowStrategicTroopHealth"><td><label id="HelmCoreStrategicTroopHealth" /></td><td><label id="HelmPiece1StrategicTroopHealth" /></td><td><label id="HelmPiece2StrategicTroopHealth" /></td><td><label id="HelmPiece3StrategicTroopHealth" /></td><td><label id="HelmPiece4StrategicTroopHealth" /></td><td><label id="HelmPiece5StrategicTroopHealth" /></td><td><label id="HelmPiece6StrategicTroopHealth" /></td><td><label id="HelmSummaryStrategicTroopHealth" /></td><td>Strat Troop Health</td></tr>
                                    <tr id="HelmRowEnemyAttackDebuff"><td><label id="HelmCoreEnemyAttackDebuff" /></td><td><label id="HelmPiece1EnemyAttackDebuff" /></td><td><label id="HelmPiece2EnemyAttackDebuff" /></td><td><label id="HelmPiece3EnemyAttackDebuff" /></td><td><label id="HelmPiece4EnemyAttackDebuff" /></td><td><label id="HelmPiece5EnemyAttackDebuff" /></td><td><label id="HelmPiece6EnemyAttackDebuff" /></td><td><label id="HelmSummaryEnemyAttackDebuff" /></td><td>Enemy Att Deb</td></tr>
                                    <tr id="HelmRowEnemyStrategicAttackDebuff"><td><label id="HelmCoreEnemyStrategicAttackDebuff" /></td><td><label id="HelmPiece1EnemyStrategicAttackDebuff" /></td><td><label id="HelmPiece2EnemyStrategicAttackDebuff" /></td><td><label id="HelmPiece3EnemyStrategicAttackDebuff" /></td><td><label id="HelmPiece4EnemyStrategicAttackDebuff" /></td><td><label id="HelmPiece5EnemyStrategicAttackDebuff" /></td><td><label id="HelmPiece6EnemyStrategicAttackDebuff" /></td><td><label id="HelmSummaryEnemyStrategicAttackDebuff" /></td><td>Enemy Strat Att Deb</td></tr>
                                    <tr id="HelmRowEnemyDefenceDebuff"><td><label id="HelmCoreEnemyDefenceDebuff" /></td><td><label id="HelmPiece1EnemyDefenceDebuff" /></td><td><label id="HelmPiece2EnemyDefenceDebuff" /></td><td><label id="HelmPiece3EnemyDefenceDebuff" /></td><td><label id="HelmPiece4EnemyDefenceDebuff" /></td><td><label id="HelmPiece5EnemyDefenceDebuff" /></td><td><label id="HelmPiece6EnemyDefenceDebuff" /></td><td><label id="HelmSummaryEnemyDefenceDebuff" /></td><td>Enemy Def Deb</td></tr>
                                    <tr id="HelmRowEnemyStrategicDefenceDebuff"><td><label id="HelmCoreEnemyStrategicDefenceDebuff" /></td><td><label id="HelmPiece1EnemyStrategicDefenceDebuff" /></td><td><label id="HelmPiece2EnemyStrategicDefenceDebuff" /></td><td><label id="HelmPiece3EnemyStrategicDefenceDebuff" /></td><td><label id="HelmPiece4EnemyStrategicDefenceDebuff" /></td><td><label id="HelmPiece5EnemyStrategicDefenceDebuff" /></td><td><label id="HelmPiece6EnemyStrategicDefenceDebuff" /></td><td><label id="HelmSummaryEnemyStrategicDefenceDebuff" /></td><td>Enemy Strat Def Deb</td></tr>
                                    <tr id="HelmRowEnemyHealthDebuff"><td><label id="HelmCoreEnemyHealthDebuff" /></td><td><label id="HelmPiece1EnemyHealthDebuff" /></td><td><label id="HelmPiece2EnemyHealthDebuff" /></td><td><label id="HelmPiece3EnemyHealthDebuff" /></td><td><label id="HelmPiece4EnemyHealthDebuff" /></td><td><label id="HelmPiece5EnemyHealthDebuff" /></td><td><label id="HelmPiece6EnemyHealthDebuff" /></td><td><label id="HelmSummaryEnemyHealthDebuff" /></td><td>Enemy Health Deb</td></tr>
                                    <tr id="HelmRowEnemyStrategicHealthDebuff"><td><label id="HelmCoreEnemyStrategicHealthDebuff" /></td><td><label id="HelmPiece1EnemyStrategicHealthDebuff" /></td><td><label id="HelmPiece2EnemyStrategicHealthDebuff" /></td><td><label id="HelmPiece3EnemyStrategicHealthDebuff" /></td><td><label id="HelmPiece4EnemyStrategicHealthDebuff" /></td><td><label id="HelmPiece5EnemyStrategicHealthDebuff" /></td><td><label id="HelmPiece6EnemyStrategicHealthDebuff" /></td><td><label id="HelmSummaryEnemyStrategicHealthDebuff" /></td><td>Enemy Strat Health Deb</td></tr>
                                    <tr id="HelmRowMarchSpeed"><td><label id="HelmCoreMarchSpeed" /></td><td><label id="HelmPiece1MarchSpeed" /></td><td><label id="HelmPiece2MarchSpeed" /></td><td><label id="HelmPiece3MarchSpeed" /></td><td><label id="HelmPiece4MarchSpeed" /></td><td><label id="HelmPiece5MarchSpeed" /></td><td><label id="HelmPiece6MarchSpeed" /></td><td><label id="HelmSummaryMarchSpeed" /></td><td>March Speed</td></tr>
                                </tbody>
                                <tbody class="category">
                                    <tr><td colspan="8" style="font-weight:bold; text-decoration:underline; background-color:#f5f5f5">Infantry</td><td>Boosts</td></tr>
                                </tbody>
                                <tbody class="subCategory">
                                    <tr id="HelmRowTroopAttack">


                                    <tr id="HelmRowInfantryAttack">
                                        <td ><label id="HelmCoreInfantryAttack" /></td>
                                        <td ><label id="HelmPiece1InfantryAttack" /></td>
                                        <td ><label id="HelmPiece2InfantryAttack" /></td>
                                        <td ><label id="HelmPiece3InfantryAttack" /></td>
                                        <td ><label id="HelmPiece4InfantryAttack" /></td>
                                        <td ><label id="HelmPiece5InfantryAttack" /></td>
                                        <td ><label id="HelmPiece6InfantryAttack" /></td>
                                        <td ><label id="HelmSummaryInfantryAttack" /></td>
                                        <td >Infantry Attack</td>
                                    </tr>
                                    <tr id="HelmRowInfantryDefence"><td><label id="HelmCoreInfantryDefence" /></td><td><label id="HelmPiece1InfantryDefence" /></td><td><label id="HelmPiece2InfantryDefence" /></td><td><label id="HelmPiece3InfantryDefence" /></td><td><label id="HelmPiece4InfantryDefence" /></td><td><label id="HelmPiece5InfantryDefence" /></td><td><label id="HelmPiece6InfantryDefence" /></td><td><label id="HelmSummaryInfantryDefence" /></td><td>Infantry Defence</td></tr>
                                    <tr id="HelmRowStrategicInfantryAttack"><td><label id="HelmCoreStrategicInfantryAttack" /></td><td><label id="HelmPiece1StrategicInfantryAttack" /></td><td><label id="HelmPiece2StrategicInfantryAttack" /></td><td><label id="HelmPiece3StrategicInfantryAttack" /></td><td><label id="HelmPiece4StrategicInfantryAttack" /></td><td><label id="HelmPiece5StrategicInfantryAttack" /></td><td><label id="HelmPiece6StrategicInfantryAttack" /></td><td><label id="HelmSummaryStrategicInfantryAttack" /></td><td>Strategic Infantry Attack</td></tr>
                                    <tr id="HelmRowStrategicInfantryDefence"><td><label id="HelmCoreStrategicInfantryDefence" /></td><td><label id="HelmPiece1StrategicInfantryDefence" /></td><td><label id="HelmPiece2StrategicInfantryDefence" /></td><td><label id="HelmPiece3StrategicInfantryDefence" /></td><td><label id="HelmPiece4StrategicInfantryDefence" /></td><td><label id="HelmPiece5StrategicInfantryDefence" /></td><td><label id="HelmPiece6StrategicInfantryDefence" /></td><td><label id="HelmSummaryStrategicInfantryDefence" /></td><td>Strategic Infantry Defence</td></tr>
                                    <tr id="HelmRowInfantryHealth"><td><label id="HelmCoreInfantryHealth" /></td><td><label id="HelmPiece1InfantryHealth" /></td><td><label id="HelmPiece2InfantryHealth" /></td><td><label id="HelmPiece3InfantryHealth" /></td><td><label id="HelmPiece4InfantryHealth" /></td><td><label id="HelmPiece5InfantryHealth" /></td><td><label id="HelmPiece6InfantryHealth" /></td><td><label id="HelmSummaryInfantryHealth" /></td><td>Infantry Health</td></tr>
                                    <tr id="HelmRowStrategicInfantryHealth"><td><label id="HelmCoreStrategicInfantryHealth" /></td><td><label id="HelmPiece1StrategicInfantryHealth" /></td><td><label id="HelmPiece2StrategicInfantryHealth" /></td><td><label id="HelmPiece3StrategicInfantryHealth" /></td><td><label id="HelmPiece4StrategicInfantryHealth" /></td><td><label id="HelmPiece5StrategicInfantryHealth" /></td><td><label id="HelmPiece6StrategicInfantryHealth" /></td><td><label id="HelmSummaryStrategicInfantryHealth" /></td><td>Strategic Infantry Health</td></tr>
                                    <tr id="HelmRowEnemyInfantryAttackDebuff"><td><label id="HelmCoreEnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece1EnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece2EnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece3EnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece4EnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece5EnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece6EnemyInfantryAttackDebuff" /></td><td><label id="HelmSummaryEnemyInfantryAttackDebuff" /></td><td>Enemy Infantry Attack Debuff</td></tr>
                                    <tr id="HelmRowStratEnemyInfantryAttackDebuff"><td><label id="HelmCoreStratEnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece1StratEnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece2StratEnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece3StratEnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece4StratEnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece5StratEnemyInfantryAttackDebuff" /></td><td><label id="HelmPiece6StratEnemyInfantryAttackDebuff" /></td><td><label id="HelmSummaryStratEnemyInfantryAttackDebuff" /></td><td>Strat Enemy Infantry Attack Debuff</td></tr>
                                    <tr id="HelmRowEnemyInfantryDefenceDebuff"><td><label id="HelmCoreEnemyInfantryDefenceDebuff" /></td><td><label id="HelmPiece1EnemyInfantryDefenceDebuff" /></td><td><label id="HelmPiece2EnemyInfantryDefenceDebuff" /></td><td><label id="HelmPiece3EnemyInfantryDefenceDebuff" /></td><td><label id="HelmPiece4EnemyInfantryDefenceDebuff" /></td><td><label id="HelmPiece5EnemyInfantryDefenceDebuff" /></td><td><label id="HelmPiece6EnemyInfantryDefenceDebuff" /></td><td><label id="HelmSummaryEnemyInfantryDefenceDebuff" /></td><td>Enemy Infantry Defence Debuff</td></tr>
                                    <tr id="HelmRowEnemyStrategicInfantryDefenceDebuff"><td><label id="HelmCoreEnemyStrategicInfantryDefenceDebuff" /></td><td><label id="HelmPiece1EnemyStrategicInfantryDefenceDebuff" /></td><td><label id="HelmPiece2EnemyStrategicInfantryDefenceDebuff" /></td><td><label id="HelmPiece3EnemyStrategicInfantryDefenceDebuff" /></td><td><label id="HelmPiece4EnemyStrategicInfantryDefenceDebuff" /></td><td><label id="HelmPiece5EnemyStrategicInfantryDefenceDebuff" /></td><td><label id="HelmPiece6EnemyStrategicInfantryDefenceDebuff" /></td><td><label id="HelmSummaryEnemyStrategicInfantryDefenceDebuff" /></td><td>Enemy Strategic Infantry Defence Debuff</td></tr>
                                    <tr id="HelmRowEnemyStrategicInfantryHealthDebuff"><td><label id="HelmCoreEnemyStrategicInfantryHealthDebuff" /></td><td><label id="HelmPiece1EnemyStrategicInfantryHealthDebuff" /></td><td><label id="HelmPiece2EnemyStrategicInfantryHealthDebuff" /></td><td><label id="HelmPiece3EnemyStrategicInfantryHealthDebuff" /></td><td><label id="HelmPiece4EnemyStrategicInfantryHealthDebuff" /></td><td><label id="HelmPiece5EnemyStrategicInfantryHealthDebuff" /></td><td><label id="HelmPiece6EnemyStrategicInfantryHealthDebuff" /></td><td><label id="HelmSummaryEnemyStrategicInfantryHealthDebuff" /></td><td>Enemy Strategic Infantry Health Debuff</td></tr>
                                    <tr id="HelmRowEnemyInfantryHealthDebuff"><td><label id="HelmCoreEnemyInfantryHealthDebuff" /></td><td><label id="HelmPiece1EnemyInfantryHealthDebuff" /></td><td><label id="HelmPiece2EnemyInfantryHealthDebuff" /></td><td><label id="HelmPiece3EnemyInfantryHealthDebuff" /></td><td><label id="HelmPiece4EnemyInfantryHealthDebuff" /></td><td><label id="HelmPiece5EnemyInfantryHealthDebuff" /></td><td><label id="HelmPiece6EnemyInfantryHealthDebuff" /></td><td><label id="HelmSummaryEnemyInfantryHealthDebuff" /></td><td>Enemy Infantry Health Debuff</td></tr>
                                </tbody>
                                <tbody class="category">
                                    <tr><td colspan="8" style="font-weight:bold; text-decoration:underline; background-color:#f5f5f5">Ranged</td><td>Boosts</td></tr>
                                </tbody>
                                <tbody class="subCategory">

                                    <tr id="HelmRowRangedAttack">
                                        <td ><label id="HelmCoreRangedAttack" /></td>
                                        <td ><label id="HelmPiece1RangedAttack" /></td>
                                        <td ><label id="HelmPiece2RangedAttack" /></td>
                                        <td ><label id="HelmPiece3RangedAttack" /></td>
                                        <td ><label id="HelmPiece4RangedAttack" /></td>
                                        <td ><label id="HelmPiece5RangedAttack" /></td>
                                        <td ><label id="HelmPiece6RangedAttack" /></td>
                                        <td ><label id="HelmSummaryRangedAttack" /></td>
                                        <td >Ranged Attack</td>
                                    </tr>
                                    <tr id="HelmRowRangedDefence"><td><label id="HelmCoreRangedDefence" /></td><td><label id="HelmPiece1RangedDefence" /></td><td><label id="HelmPiece2RangedDefence" /></td><td><label id="HelmPiece3RangedDefence" /></td><td><label id="HelmPiece4RangedDefence" /></td><td><label id="HelmPiece5RangedDefence" /></td><td><label id="HelmPiece6RangedDefence" /></td><td><label id="HelmSummaryRangedDefence" /></td><td>Ranged Defence</td></tr>
                                    <tr id="HelmRowStrategicRangedAttack"><td><label id="HelmCoreStrategicRangedAttack" /></td><td><label id="HelmPiece1StrategicRangedAttack" /></td><td><label id="HelmPiece2StrategicRangedAttack" /></td><td><label id="HelmPiece3StrategicRangedAttack" /></td><td><label id="HelmPiece4StrategicRangedAttack" /></td><td><label id="HelmPiece5StrategicRangedAttack" /></td><td><label id="HelmPiece6StrategicRangedAttack" /></td><td><label id="HelmSummaryStrategicRangedAttack" /></td><td>Strategic Ranged Attack</td></tr>
                                    <tr id="HelmRowStrategicRangedDefence"><td><label id="HelmCoreStrategicRangedDefence" /></td><td><label id="HelmPiece1StrategicRangedDefence" /></td><td><label id="HelmPiece2StrategicRangedDefence" /></td><td><label id="HelmPiece3StrategicRangedDefence" /></td><td><label id="HelmPiece4StrategicRangedDefence" /></td><td><label id="HelmPiece5StrategicRangedDefence" /></td><td><label id="HelmPiece6StrategicRangedDefence" /></td><td><label id="HelmSummaryStrategicRangedDefence" /></td><td>Strategic Ranged Defence</td></tr>
                                    <tr id="HelmRowRangedHealth"><td><label id="HelmCoreRangedHealth" /></td><td><label id="HelmPiece1RangedHealth" /></td><td><label id="HelmPiece2RangedHealth" /></td><td><label id="HelmPiece3RangedHealth" /></td><td><label id="HelmPiece4RangedHealth" /></td><td><label id="HelmPiece5RangedHealth" /></td><td><label id="HelmPiece6RangedHealth" /></td><td><label id="HelmSummaryRangedHealth" /></td><td>Ranged Health</td></tr>
                                    <tr id="HelmRowStrategicRangedHealth"><td><label id="HelmCoreStrategicRangedHealth" /></td><td><label id="HelmPiece1StrategicRangedHealth" /></td><td><label id="HelmPiece2StrategicRangedHealth" /></td><td><label id="HelmPiece3StrategicRangedHealth" /></td><td><label id="HelmPiece4StrategicRangedHealth" /></td><td><label id="HelmPiece5StrategicRangedHealth" /></td><td><label id="HelmPiece6StrategicRangedHealth" /></td><td><label id="HelmSummaryStrategicRangedHealth" /></td><td>Strategic Ranged Health</td></tr>
                                    <tr id="HelmRowEnemyRangedAttackDebuff"><td><label id="HelmCoreEnemyRangedAttackDebuff" /></td><td><label id="HelmPiece1EnemyRangedAttackDebuff" /></td><td><label id="HelmPiece2EnemyRangedAttackDebuff" /></td><td><label id="HelmPiece3EnemyRangedAttackDebuff" /></td><td><label id="HelmPiece4EnemyRangedAttackDebuff" /></td><td><label id="HelmPiece5EnemyRangedAttackDebuff" /></td><td><label id="HelmPiece6EnemyRangedAttackDebuff" /></td><td><label id="HelmSummaryEnemyRangedAttackDebuff" /></td><td>Enemy Ranged Attack Debuff</td></tr>
                                    <tr id="HelmRowEnemyStrategicRangedAttackDebuff"><td><label id="HelmCoreEnemyStrategicRangedAttackDebuff" /></td><td><label id="HelmPiece1EnemyStrategicRangedAttackDebuff" /></td><td><label id="HelmPiece2EnemyStrategicRangedAttackDebuff" /></td><td><label id="HelmPiece3EnemyStrategicRangedAttackDebuff" /></td><td><label id="HelmPiece4EnemyStrategicRangedAttackDebuff" /></td><td><label id="HelmPiece5EnemyStrategicRangedAttackDebuff" /></td><td><label id="HelmPiece6EnemyStrategicRangedAttackDebuff" /></td><td><label id="HelmSummaryEnemyStrategicRangedAttackDebuff" /></td><td>Enemy Strategic Ranged Attack Debuff</td></tr>
                                    <tr id="HelmRowEnemyRangedDefenceDebuff"><td><label id="HelmCoreEnemyRangedDefenceDebuff" /></td><td><label id="HelmPiece1EnemyRangedDefenceDebuff" /></td><td><label id="HelmPiece2EnemyRangedDefenceDebuff" /></td><td><label id="HelmPiece3EnemyRangedDefenceDebuff" /></td><td><label id="HelmPiece4EnemyRangedDefenceDebuff" /></td><td><label id="HelmPiece5EnemyRangedDefenceDebuff" /></td><td><label id="HelmPiece6EnemyRangedDefenceDebuff" /></td><td><label id="HelmSummaryEnemyRangedDefenceDebuff" /></td><td>Enemy Ranged Defence Debuff</td></tr>
                                    <tr id="HelmRowEnemyStrategicRangedDefenceDebuff"><td><label id="HelmCoreEnemyStrategicRangedDefenceDebuff" /></td><td><label id="HelmPiece1EnemyStrategicRangedDefenceDebuff" /></td><td><label id="HelmPiece2EnemyStrategicRangedDefenceDebuff" /></td><td><label id="HelmPiece3EnemyStrategicRangedDefenceDebuff" /></td><td><label id="HelmPiece4EnemyStrategicRangedDefenceDebuff" /></td><td><label id="HelmPiece5EnemyStrategicRangedDefenceDebuff" /></td><td><label id="HelmPiece6EnemyStrategicRangedDefenceDebuff" /></td><td><label id="HelmSummaryEnemyStrategicRangedDefenceDebuff" /></td><td>Enemy Strategic Ranged Defence Debuff</td></tr>
                                    <tr id="HelmRowEnemyRangedHealthDebuff"><td><label id="HelmCoreEnemyRangedHealthDebuff" /></td><td><label id="HelmPiece1EnemyRangedHealthDebuff" /></td><td><label id="HelmPiece2EnemyRangedHealthDebuff" /></td><td><label id="HelmPiece3EnemyRangedHealthDebuff" /></td><td><label id="HelmPiece4EnemyRangedHealthDebuff" /></td><td><label id="HelmPiece5EnemyRangedHealthDebuff" /></td><td><label id="HelmPiece6EnemyRangedHealthDebuff" /></td><td><label id="HelmSummaryEnemyRangedHealthDebuff" /></td><td>Enemy Ranged Health Debuff</td></tr>
                                    <tr id="HelmRowEnemyStrategicRangedHealthDebuff"><td><label id="HelmCoreEnemyStrategicRangedHealthDebuff" /></td><td><label id="HelmPiece1EnemyStrategicRangedHealthDebuff" /></td><td><label id="HelmPiece2EnemyStrategicRangedHealthDebuff" /></td><td><label id="HelmPiece3EnemyStrategicRangedHealthDebuff" /></td><td><label id="HelmPiece4EnemyStrategicRangedHealthDebuff" /></td><td><label id="HelmPiece5EnemyStrategicRangedHealthDebuff" /></td><td><label id="HelmPiece6EnemyStrategicRangedHealthDebuff" /></td><td><label id="HelmSummaryEnemyStrategicRangedHealthDebuff" /></td><td>Enemy Strategic Ranged Health Debuff</td></tr>
                                </tbody>
                                <tbody class="category">
                                    <tr><td colspan="8" style="font-weight:bold; text-decoration:underline; background-color:#f5f5f5">Cavalry</td><td>Boosts</td></tr>
                                </tbody>
                                <tbody class="subCategory">

                                    <tr id="HelmRowCavalryAttack">
                                        <td ><label id="HelmCoreCavalryAttack" /></td>
                                        <td ><label id="HelmPiece1CavalryAttack" /></td>
                                        <td ><label id="HelmPiece2CavalryAttack" /></td>
                                        <td ><label id="HelmPiece3CavalryAttack" /></td>
                                        <td ><label id="HelmPiece4CavalryAttack" /></td>
                                        <td ><label id="HelmPiece5CavalryAttack" /></td>
                                        <td ><label id="HelmPiece6CavalryAttack" /></td>
                                        <td ><label id="HelmSummaryCavalryAttack" /></td>
                                        <td>Cavalry Attack</td>
                                    </tr>
                                    <tr id="HelmRowCavalryDefence"><td><label id="HelmCoreCavalryDefence" /></td><td><label id="HelmPiece1CavalryDefence" /></td><td><label id="HelmPiece2CavalryDefence" /></td><td><label id="HelmPiece3CavalryDefence" /></td><td><label id="HelmPiece4CavalryDefence" /></td><td><label id="HelmPiece5CavalryDefence" /></td><td><label id="HelmPiece6CavalryDefence" /></td><td><label id="HelmSummaryCavalryDefence" /></td><td>Cavalry Defence</td></tr>
                                    <tr id="HelmRowStrategicCavalryAttack"><td><label id="HelmCoreStrategicCavalryAttack" /></td><td><label id="HelmPiece1StrategicCavalryAttack" /></td><td><label id="HelmPiece2StrategicCavalryAttack" /></td><td><label id="HelmPiece3StrategicCavalryAttack" /></td><td><label id="HelmPiece4StrategicCavalryAttack" /></td><td><label id="HelmPiece5StrategicCavalryAttack" /></td><td><label id="HelmPiece6StrategicCavalryAttack" /></td><td><label id="HelmSummaryStrategicCavalryAttack" /></td><td>Strategic Cavalry Attack</td></tr>
                                    <tr id="HelmRowStrategicCavalryDefence"><td><label id="HelmCoreStrategicCavalryDefence" /></td><td><label id="HelmPiece1StrategicCavalryDefence" /></td><td><label id="HelmPiece2StrategicCavalryDefence" /></td><td><label id="HelmPiece3StrategicCavalryDefence" /></td><td><label id="HelmPiece4StrategicCavalryDefence" /></td><td><label id="HelmPiece5StrategicCavalryDefence" /></td><td><label id="HelmPiece6StrategicCavalryDefence" /></td><td><label id="HelmSummaryStrategicCavalryDefence" /></td><td>Strategic Cavalry Defence</td></tr>
                                    <tr id="HelmRowCavalryHealth"><td><label id="HelmCoreCavalryHealth" /></td><td><label id="HelmPiece1CavalryHealth" /></td><td><label id="HelmPiece2CavalryHealth" /></td><td><label id="HelmPiece3CavalryHealth" /></td><td><label id="HelmPiece4CavalryHealth" /></td><td><label id="HelmPiece5CavalryHealth" /></td><td><label id="HelmPiece6CavalryHealth" /></td><td><label id="HelmSummaryCavalryHealth" /></td><td>Cavalry Health</td></tr>
                                    <tr id="HelmRowStrategicCavalryHealth"><td><label id="HelmCoreStrategicCavalryHealth" /></td><td><label id="HelmPiece1StrategicCavalryHealth" /></td><td><label id="HelmPiece2StrategicCavalryHealth" /></td><td><label id="HelmPiece3StrategicCavalryHealth" /></td><td><label id="HelmPiece4StrategicCavalryHealth" /></td><td><label id="HelmPiece5StrategicCavalryHealth" /></td><td><label id="HelmPiece6StrategicCavalryHealth" /></td><td><label id="HelmSummaryStrategicCavalryHealth" /></td><td>Strategic Cavalry Health</td></tr>
                                    <tr id="HelmRowEnemyCavalryAttackDebuff"><td><label id="HelmCoreEnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece1EnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece2EnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece3EnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece4EnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece5EnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece6EnemyCavalryAttackDebuff" /></td><td><label id="HelmSummaryEnemyCavalryAttackDebuff" /></td><td>Enemy Cavalry Attack Debuff</td></tr>
                                    <tr id="HelmRowStrategicEnemyCavalryAttackDebuff"><td><label id="HelmCoreStrategicEnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece1StrategicEnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece2StrategicEnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece3StrategicEnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece4StrategicEnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece5StrategicEnemyCavalryAttackDebuff" /></td><td><label id="HelmPiece6StrategicEnemyCavalryAttackDebuff" /></td><td><label id="HelmSummaryStrategicEnemyCavalryAttackDebuff" /></td><td>Strategic Enemy Cavalry Attack Debuff</td></tr>
                                    <tr id="HelmRowEnemyCavalryDefenceDebuff"><td><label id="HelmCoreEnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece1EnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece2EnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece3EnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece4EnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece5EnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece6EnemyCavalryDefenceDebuff" /></td><td><label id="HelmSummaryEnemyCavalryDefenceDebuff" /></td><td>Enemy Cavalry Defence Debuff</td></tr>
                                    <tr id="HelmRowStrategicEnemyCavalryDefenceDebuff"><td><label id="HelmCoreStrategicEnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece1StrategicEnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece2StrategicEnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece3StrategicEnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece4StrategicEnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece5StrategicEnemyCavalryDefenceDebuff" /></td><td><label id="HelmPiece6StrategicEnemyCavalryDefenceDebuff" /></td><td><label id="HelmSummaryStrategicEnemyCavalryDefenceDebuff" /></td><td>Strategic Enemy Cavalry Defence Debuff</td></tr>
                                    <tr id="HelmRowEnemyCavalryHealthDebuff"><td><label id="HelmCoreEnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece1EnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece2EnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece3EnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece4EnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece5EnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece6EnemyCavalryHealthDebuff" /></td><td><label id="HelmSummaryEnemyCavalryHealthDebuff" /></td><td>Enemy Cavalry Health Debuff</td></tr>
                                    <tr id="HelmRowStrategicEnemyCavalryHealthDebuff"><td><label id="HelmCoreStrategicEnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece1StrategicEnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece2StrategicEnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece3StrategicEnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece4StrategicEnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece5StrategicEnemyCavalryHealthDebuff" /></td><td><label id="HelmPiece6StrategicEnemyCavalryHealthDebuff" /></td><td><label id="HelmSummaryStrategicEnemyCavalryHealthDebuff" /></td><td>Strategic Enemy Cavalry Health Debuff</td></tr>
                                </tbody>
                                <tbody class="category">
                                    <tr><td colspan="8" style="font-weight:bold; text-decoration:underline; background-color:#f5f5f5">Siege</td><td>Boosts</td></tr>
                                </tbody>
                                <tbody class="subCategory">

                                    <tr id="HelmRowSiegeAttack">
                                        <td ><label id="HelmCoreSiegeAttack" /></td>
                                        <td ><label id="HelmPiece1SiegeAttack" /></td>
                                        <td ><label id="HelmPiece2SiegeAttack" /></td>
                                        <td ><label id="HelmPiece3SiegeAttack" /></td>
                                        <td ><label id="HelmPiece4SiegeAttack" /></td>
                                        <td ><label id="HelmPiece5SiegeAttack" /></td>
                                        <td ><label id="HelmPiece6SiegeAttack" /></td>
                                        <td ><label id="HelmSummarySiegeAttack" /></td>
                                        <td >Siege Attack</td>
                                    </tr>
                                    <tr id="HelmRowSiegeDefence"><td><label id="HelmCoreSiegeDefence" /></td><td><label id="HelmPiece1SiegeDefence" /></td><td><label id="HelmPiece2SiegeDefence" /></td><td><label id="HelmPiece3SiegeDefence" /></td><td><label id="HelmPiece4SiegeDefence" /></td><td><label id="HelmPiece5SiegeDefence" /></td><td><label id="HelmPiece6SiegeDefence" /></td><td><label id="HelmSummarySiegeDefence" /></td><td>Siege Defence</td></tr>
                                    <tr id="HelmRowTrapDefence"><td><label id="HelmCoreTrapDefence" /></td><td><label id="HelmPiece1TrapDefence" /></td><td><label id="HelmPiece2TrapDefence" /></td><td><label id="HelmPiece3TrapDefence" /></td><td><label id="HelmPiece4TrapDefence" /></td><td><label id="HelmPiece5TrapDefence" /></td><td><label id="HelmPiece6TrapDefence" /></td><td><label id="HelmSummaryTrapDefence" /></td><td>Trap Defence</td></tr>
                                    <tr id="HelmRowStrategicTrapDefence"><td><label id="HelmCoreStrategicTrapDefence" /></td><td><label id="HelmPiece1StrategicTrapDefence" /></td><td><label id="HelmPiece2StrategicTrapDefence" /></td><td><label id="HelmPiece3StrategicTrapDefence" /></td><td><label id="HelmPiece4StrategicTrapDefence" /></td><td><label id="HelmPiece5StrategicTrapDefence" /></td><td><label id="HelmPiece6StrategicTrapDefence" /></td><td><label id="HelmSummaryStrategicTrapDefence" /></td><td>Strategic Trap Defence</td></tr>
                                    <tr id="HelmRowTroopTrainingSpeed"><td><label id="HelmCoreTroopTrainingSpeed" /></td><td><label id="HelmPiece1TroopTrainingSpeed" /></td><td><label id="HelmPiece2TroopTrainingSpeed" /></td><td><label id="HelmPiece3TroopTrainingSpeed" /></td><td><label id="HelmPiece4TroopTrainingSpeed" /></td><td><label id="HelmPiece5TroopTrainingSpeed" /></td><td><label id="HelmPiece6TroopTrainingSpeed" /></td><td><label id="HelmSummaryTroopTrainingSpeed" /></td><td>Troop Training Speed</td></tr>
                                    <tr id="HelmRowEnemySiegeAttackDebuff"><td><label id="HelmCoreEnemySiegeAttackDebuff" /></td><td><label id="HelmPiece1EnemySiegeAttackDebuff" /></td><td><label id="HelmPiece2EnemySiegeAttackDebuff" /></td><td><label id="HelmPiece3EnemySiegeAttackDebuff" /></td><td><label id="HelmPiece4EnemySiegeAttackDebuff" /></td><td><label id="HelmPiece5EnemySiegeAttackDebuff" /></td><td><label id="HelmPiece6EnemySiegeAttackDebuff" /></td><td><label id="HelmSummaryEnemySiegeAttackDebuff" /></td><td>Enemy Siege Attack Debuff</td></tr>
                                    <tr id="HelmRowStrategicTrapAttack"><td><label id="HelmCoreStrategicTrapAttack" /></td><td><label id="HelmPiece1StrategicTrapAttack" /></td><td><label id="HelmPiece2StrategicTrapAttack" /></td><td><label id="HelmPiece3StrategicTrapAttack" /></td><td><label id="HelmPiece4StrategicTrapAttack" /></td><td><label id="HelmPiece5StrategicTrapAttack" /></td><td><label id="HelmPiece6StrategicTrapAttack" /></td><td><label id="HelmSummaryStrategicTrapAttack" /></td><td>Strategic Trap Attack</td></tr>
                                    <tr id="HelmRowTrapAttack"><td><label id="HelmCoreTrapAttack" /></td><td><label id="HelmPiece1TrapAttack" /></td><td><label id="HelmPiece2TrapAttack" /></td><td><label id="HelmPiece3TrapAttack" /></td><td><label id="HelmPiece4TrapAttack" /></td><td><label id="HelmPiece5TrapAttack" /></td><td><label id="HelmPiece6TrapAttack" /></td><td><label id="HelmSummaryTrapAttack" /></td><td>Trap Attack</td></tr>

                                </tbody>
                                <tbody class="category">
                                    <tr><td colspan="8" style="font-weight:bold; text-decoration:underline; background-color:#f5f5f5">Hero</td><td>Boosts</td></tr>
                                </tbody>
                                <tbody class="subCategory">
                                    <tr id="HelmRowHeroCritical">
                                        <td ><label id="HelmCoreHeroCritical" /></td>
                                        <td ><label id="HelmPiece1HeroCritical" /></td>
                                        <td ><label id="HelmPiece2HeroCritical" /></td>
                                        <td ><label id="HelmPiece3HeroCritical" /></td>
                                        <td ><label id="HelmPiece4HeroCritical" /></td>
                                        <td ><label id="HelmPiece5HeroCritical" /></td>
                                        <td ><label id="HelmPiece6HeroCritical" /></td>
                                        <td ><label id="HelmSummaryHeroCritical" /></td>
                                        <td >Hero Critical</td>
                                    </tr>
                                    <tr id="HelmRowMonsterDebuff"><td><label id="HelmCoreMonsterDebuff" /></td><td><label id="HelmPiece1MonsterDebuff" /></td><td><label id="HelmPiece2MonsterDebuff" /></td><td><label id="HelmPiece3MonsterDebuff" /></td><td><label id="HelmPiece4MonsterDebuff" /></td><td><label id="HelmPiece5MonsterDebuff" /></td><td><label id="HelmPiece6MonsterDebuff" /></td><td><label id="HelmSummaryMonsterDebuff" /></td><td>Monster Debuff</td></tr>
                                </tbody>
                                <!-- This is the beginning of the row display. Each row needs its own id for hiding/showing based on summary amounts.-->
                            </table>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <style>
            .faqHeader {
                font-size: 20px;
                margin: 20px;
            }
        </style>
        <!-- Bootstrap FAQ - END -->
    </div>
</body>
}

<script>     


    $(function(){
        $('#nav').hover(function(){
            $(this).animate({width:'500px'},500);
        },function(){
            $(this).animate({width:'35px'},500);
        }).trigger('mouseleave');
    });

    $(function () {
        $("[name='HelmCore']").change(function () {

            //This needs to call a check against each of the other drop downs to make sure it isnt the same.
            //one method for each and dont call ajax if it fails


            $.ajax({
                type: "GET",
                url: "../Home/GetCoreBoosts",
                data: { PieceName: $("#HelmCore option:selected").text(), PieceLevel: $("#HelmCoreLevel").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmCoreBuffs(result);
                    HelmCoreDisplay();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    resetHelmCoreBuffs(result);
                    HelmCoreDisplay();
                    helmSummary();
                }
            })


        });
        $("[name='HelmCoreLevel']").change(function () {

            $.ajax({
                type: "GET",
                url: "../Home/GetCoreBoosts",
                data: { PieceName: $("#HelmCore option:selected").text(), PieceLevel: $("#HelmCoreLevel").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmCoreBuffs(result);
                    HelmPiece1Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    resetHelmCoreBuffs(result);
                    HelmCoreDisplay();
                    helmSummary();
                }
            })


        });

        $("[name='HelmPiece1']").change(function () {
            
            //This needs to call a check against each of the other drop downs to make sure it isnt the same.
            //one method for each and dont call ajax if it fails
            if (CheckHelmPiece1())
            {
                $("#errorMessage").show();
                return;
            }
            $("#errorMessage").hide();

            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece1 option:selected").text(), PieceLevel: $("#HelmPiece1Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece1Buffs(result);
                    HelmPiece1Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    resetHelmPiece1Buffs(result);
                    HelmPiece1Display();
                    helmSummary();
                }
            })


        });
        $("[name='HelmPiece1Level']").change(function () {

            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece1 option:selected").text(), PieceLevel: $("#HelmPiece1Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece1Buffs(result);
                    HelmPiece1Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    //alert("failure");
                }
            })


        });

        $("[name='HelmPiece2']").change(function () {

            if (CheckHelmPiece2()) {
                $("#errorMessage").show();
                return;
            }
            $("#errorMessage").hide();

            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece2 option:selected").text(), PieceLevel: $("#HelmPiece2Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece2Buffs(result);
                    HelmPiece2Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    resetHelmPiece2Buffs(result);
                    HelmPiece2Display();
                    helmSummary();
                }
            })


        });
        $("[name='HelmPiece2Level']").change(function () {

            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece2 option:selected").text(), PieceLevel: $("#HelmPiece2Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece2Buffs(result);
                    HelmPiece2Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    //alert("failure");
                }
            })


        });

        $("[name='HelmPiece3']").change(function () {

            if (CheckHelmPiece3()) {
                $("#errorMessage").show();
                return;
            }
            $("#errorMessage").hide();


            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece3 option:selected").text(), PieceLevel: $("#HelmPiece3Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece3Buffs(result);
                    HelmPiece3Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    resetHelmPiece3Buffs(result);
                    HelmPiece3Display();
                    helmSummary();
                }
            })


        });
        $("[name='HelmPiece3Level']").change(function () {

            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece3 option:selected").text(), PieceLevel: $("#HelmPiece3Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece3Buffs(result);
                    HelmPiece3Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    //alert("failure");
                }
            })


        });

        $("[name='HelmPiece4']").change(function () {

            if (CheckHelmPiece4()) {
                $("#errorMessage").show();
                return;
            }
            $("#errorMessage").hide();


            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece4 option:selected").text(), PieceLevel: $("#HelmPiece4Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece4Buffs(result);
                    HelmPiece4Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    resetHelmPiece4Buffs(result);
                    HelmPiece4Display();
                    helmSummary();
                }
            })


        });
        $("[name='HelmPiece4Level']").change(function () {

            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece4 option:selected").text(), PieceLevel: $("#HelmPiece4Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece4Buffs(result);
                    HelmPiece4Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    //alert("failure");
                }
            })


        });

        $("[name='HelmPiece5']").change(function () {

            if (CheckHelmPiece5()) {
                $("#errorMessage").show();
                return;
            }
            $("#errorMessage").hide();


            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece5 option:selected").text(), PieceLevel: $("#HelmPiece5Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece5Buffs(result);
                    HelmPiece5Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    resetHelmPiece5Buffs(result);
                    HelmPiece5Display();
                    helmSummary();
                }
            })


        });
        $("[name='HelmPiece5Level']").change(function () {

            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece5 option:selected").text(), PieceLevel: $("#HelmPiece5Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece5Buffs(result);
                    HelmPiece5Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    //alert("failure");
                }
            })


        });

        $("[name='HelmPiece6']").change(function () {

            if (CheckHelmPiece6()) {
                $("#errorMessage").show();
                return;
            }
            $("#errorMessage").hide();


            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece6 option:selected").text(), PieceLevel: $("#HelmPiece6Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece6Buffs(result);
                    HelmPiece6Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    resetHelmPiece6Buffs(result);
                    HelmPiece6Display();
                    helmSummary();
                }
            })


        });
        $("[name='HelmPiece6Level']").change(function () {

            $.ajax({
                type: "GET",
                url: "../Home/GetPieceBoosts",
                data: { PieceName: $("#HelmPiece6 option:selected").text(), PieceLevel: $("#HelmPiece6Level").val() },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    setHelmPiece6Buffs(result);
                    HelmPiece6Display();
                    helmSummary();
                    //alert(result);
                },
                error: function (result) {
                    //alert("failure");
                }
            })


        });

    });

    $(function () {
        $('table').accordion({
            header: '.category',
            active: false,
            collapsible: true
        });
    });

    function fullSummary()
    {

        FullSummaryRangedAttackLow = 0; 
        FullSummaryRangedAttackHigh = 0; 
        FullSummaryCalvaryAttackLow = 0; 
        FullSummaryCalvaryAttackHigh = 0; 
        FullSummaryInfantryAttackLow = 0; 
        FullSummaryInfantryAttackHigh = 0; 
        FullSummaryTroopAttackLow = 0; 
        FullSummaryTroopAttackHigh = 0; 
        FullSummaryTroopDefenseLow = 0; 
        FullSummaryTroopDefenseHigh = 0; 
        FullSummaryTroopHealthLow = 0; 
        FullSummaryTroopHealthHigh = 0; 
        FullSummaryAttackDebufLow = 0; 
        FullSummaryAttackDebuffHigh = 0; 
        FullSummaryHealthDebuffLow = 0; 
        FullSummaryHealthDebuffHigh = 0; 
        FullSummaryDefenseDebuffLow = 0; 
        FullSummaryDefenseDebuffHigh = 0; 
        FullSummaryMarchSpeedLow = 0; 
        FullSummaryMarchSpeedHigh = 0;

        document.getElementById("HelmSummaryRangedAttackSB").innerHTML= HelmRangedAttackLow + "-" +HelmRangedAttackHigh;
        document.getElementById("HelmSummaryCalvaryAttackSB").innerHTML= HelmCalvaryAttackLow + "-" +HelmCalvaryAttackHigh;
        document.getElementById("HelmSummaryInfantryAttackSB").innerHTML= HelmInfantryAttackLow + "-" +HelmInfantryAttackHigh;
        document.getElementById("HelmSummaryTroopAttackSB").innerHTML= HelmTroopAttackLow + "-" +HelmTroopAttackHigh;
        document.getElementById("HelmSummaryTroopDefenseSB").innerHTML= HelmTroopDefenseLow + "-" +HelmTroopDefenseHigh;
        document.getElementById("HelmSummaryTroopHealthSB").innerHTML= HelmTroopHealthLow + "-" +HelmTroopHealthHigh;
        document.getElementById("HelmSummaryAttackDebuffSB").innerHTML= HelmAttackDebufLow + "-" +HelmAttackDebuffHigh;
        document.getElementById("HelmSummaryHealthDebuffSB").innerHTML= HelmHealthDebuffLow + "-" +HelmHealthDebuffHigh;
        document.getElementById("HelmSummaryDefenseDebuffSB").innerHTML= HelmDefenseDebuffLow + "-" +HelmDefenseDebuffHigh;
        document.getElementById("HelmSummaryMarchSpeedSB").innerHTML= HelmMarchSpeedLow + "-" +HelmMarchSpeedHigh;

        FullSummaryRangedAttackLow = HelmRangedAttackLow; 
        FullSummaryRangedAttackHigh = HelmRangedAttackHigh; 
        FullSummaryCalvaryAttackLow = HelmCalvaryAttackLow; 
        FullSummaryCalvaryAttackHigh = HelmCalvaryAttackHigh; 
        FullSummaryInfantryAttackLow = HelmInfantryAttackLow; 
        FullSummaryInfantryAttackHigh = HelmInfantryAttackHigh; 
        FullSummaryTroopAttackLow = HelmTroopAttackLow; 
        FullSummaryTroopAttackHigh = HelmTroopAttackHigh; 
        FullSummaryTroopDefenseLow = HelmTroopDefenseLow; 
        FullSummaryTroopDefenseHigh = HelmTroopDefenseHigh; 
        FullSummaryTroopHealthLow = HelmTroopHealthLow; 
        FullSummaryTroopHealthHigh = HelmTroopHealthHigh; 
        FullSummaryAttackDebufLow = HelmAttackDebufLow; 
        FullSummaryAttackDebuffHigh = HelmAttackDebuffHigh; 
        FullSummaryHealthDebuffLow = HelmHealthDebuffLow; 
        FullSummaryHealthDebuffHigh = HelmHealthDebuffHigh; 
        FullSummaryDefenseDebuffLow = HelmDefenseDebuffLow; 
        FullSummaryDefenseDebuffHigh = HelmDefenseDebuffHigh; 
        FullSummaryMarchSpeedLow = HelmMarchSpeedLow; 
        FullSummaryMarchSpeedHigh = HelmMarchSpeedHigh;


        document.getElementById("FullSummaryRangedAttackSB").innerHTML= FullSummaryRangedAttackLow + "-" +FullSummaryRangedAttackHigh;
        document.getElementById("FullSummaryCalvaryAttackSB").innerHTML= FullSummaryCalvaryAttackLow + "-" +FullSummaryCalvaryAttackHigh;
        document.getElementById("FullSummaryInfantryAttackSB").innerHTML= FullSummaryInfantryAttackLow + "-" +FullSummaryInfantryAttackHigh;
        document.getElementById("FullSummaryTroopAttackSB").innerHTML= FullSummaryTroopAttackLow + "-" +FullSummaryTroopAttackHigh;
        document.getElementById("FullSummaryTroopDefenseSB").innerHTML= FullSummaryTroopDefenseLow + "-" +FullSummaryTroopDefenseHigh;
        document.getElementById("FullSummaryTroopHealthSB").innerHTML= FullSummaryTroopHealthLow + "-" +FullSummaryTroopHealthHigh;
        document.getElementById("FullSummaryAttackDebuffSB").innerHTML= FullSummaryAttackDebufLow + "-" +FullSummaryAttackDebuffHigh;
        document.getElementById("FullSummaryHealthDebuffSB").innerHTML= FullSummaryHealthDebuffLow + "-" +FullSummaryHealthDebuffHigh;
        document.getElementById("FullSummaryDefenseDebuffSB").innerHTML= FullSummaryDefenseDebuffLow + "-" +FullSummaryDefenseDebuffHigh;
        document.getElementById("FullSummaryMarchSpeedSB").innerHTML= FullSummaryMarchSpeedLow + "-" +FullSummaryMarchSpeedHigh;

    }
</script>